header {
  text-align: center;
}

.initially-hidden {
  display: none;
}

.form-group label {
  font-size: 18px;
  text-align: right;
  padding: 5px;
}

#factorial-form button {
  margin-left: 70px;
}
